h1 {
    text-align: center;
    font-family: 'PT Serif', serif;

}
.teamcontain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teamitem {
    height: 500px;
    width: 400px;
    padding-top: 20px;
}
.b2 {
    margin: 0 10px 0 10px;
    border: solid gainsboro 1.5px;
}
.teamitem h3 {
    text-align: center;
    font-family: 'PT Serif', serif;
}
.teamitem > img {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
    border-radius: 10px;

}  
.teamitem >h4  {
    text-align: center;     
} 
.teamitem >a>h4  {
    text-align: center; 
    color: gray;
    
} 
.whatsappblg  {
    display: flex;
    justify-content: center;
}
.whatsappblg > img {
    height: 30px;
    width: 30px;
}
.whatsappblg > h4 {
    color: gray;
    margin-left: 10px;
    
}

